################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/advance-Csharp/.vs/advance-Csharp
/advance-Csharp/bin/Debug/net6.0
/advance-Csharp/obj
/advance-Csharp.Database/obj
/advance-Csharp.Database/bin/Debug/net6.0
/advance-Csharp.dto/bin/Debug/net6.0
/advance-Csharp.dto/obj
/advance-Csharp.Service/bin/Debug/net6.0
/advance-Csharp.Service/obj
/advance-Csharp/.vs/ProjectEvaluation
/advance-Csharp.Service/advance-Csharp - Backup.Service.csproj
